@model Pro.Data.Registry.CreditPage
@{
    ViewBag.Title = "Mifkad";
    Layout = "_ViewRegistry.cshtml";

    string iframeSrc = Model.IframeSrc;

    int CanPay = Model.CanPay;
}

@section cmsHeader {

<div id="cmsHeader">
    @Html.Raw(Model.Header)
</div>
}

@section head {

    @Scripts.Render("~/bundles/jqx")
    <script type="text/javascript" src="~/Scripts/app/model/mifkad.js"></script>

<style type="text/css">
    div.payment-container {border:solid 1px #b9d9e6;
    display: block;
    margin: 0 auto;
    height: 480px;
    width: 600px;
    text-align: center;
    overflow: hidden;
}
    iframe.payment {
        border: none;
        height: 455px;
        width: 370px;
        overflow: hidden;
    }
</style>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            @*var def = new app_signup_def(JSON.parse('@Model.AccountId'));*@

        });

    </script>
}
<!--begin of content-wrapper-->
<div class="basad">בס"ד</div>
<div class="logo">
    <p><a href="Index" class="footer-btn">חזרה לעמוד הראשי</a></p>
    <img src="~/Content/Mifkad/images/logo.gif" alt="logo" />
</div>
<div class="stp1">
    <h3><span>פרטי כרטיס אשראי</span> (שלב 3 מתוך 3):</h3>
    <div class="form">
        <iframe src="@iframeSrc" class="payment"></iframe>
    </div>
</div>
<div class="footer">
    <p>
        נתקלת בבעיה? שלח לנו מייל לכתובת <a href="mailto:vaadatbchirotby@gmail.com">vaadatbchirotby@gmail.com</a>
        <br>
        עם שם ומספר נייד ונחזור אליך
    </p>
    <p class="powered">powered by My T Interactive Ltd</p>
</div>
<!--end of content-wrapper-->
@section cmsFooter {
    @Html.Raw(Model.Footer)
}
<script type="text/javascript">
    @Html.Raw(Model.AnalyticsGoogleScript);
    @Html.Raw(Model.AnalyticsFacebookScript);
</script>
