@{
    Layout = "~/Views/_View.cshtml";
    Page.Title = "Building";

    int id = Nistec.Types.ToInt(Request.QueryString["id"]);
    
}
@section head {

    @Scripts.Render("~/bundles/jqx")
   <script type="text/javascript" src="~/Scripts/app/dateFormat.js"></script>
   <script type="text/javascript" src="~/Scripts/plagins/blockUI.js"></script>
   <script type="text/javascript" src="~/Scripts/jq/jquery.ui.1.11.1.js"></script>
   <link rel="stylesheet" href="~/Scripts/jq/css/jquery-ui.css" type="text/css" />

    <style type="text/css">
        .styledTable {
            direction:rtl; text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;padding-left:20px;text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;text-align:right;
        }
        .styledRowKey {padding-left:20px;text-align:right;
        }
        .styledRowValue {text-align:right;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">

        function trigger_Prompt(status) {
            $('#submit').prop('disabled', status == 1);
            //if (status == 1) {
            //    $('#submit').attr('disabled','disabled');//.hide();
            //}
            window.location.href = '@Url.Action("Leads", "Crm")';
        }
       
        $(document).ready(function () {
            JSON.useDateParser();

            var dealAdapter = createComboAdapter("DealId", "DealName", "DealType", '@Url.Action("GetDealView", "Building")');

            var purposeAdapter = createComboAdapter("PurposeId", "PurposeName", "PurposeType", '@Url.Action("GetPurposeView", "Building")');

            var areaAdapter = createComboAdapter("AreaId", "AreaName", "AreaType", '@Url.Action("GetAreaViewAll", "Building")');
            
            var srcPurposeType;
            var srcDealType;
            var srcAreaType;
            var srcLeadId;

            $("#EntryDate").jqxDateTimeInput({ formatString: 'dd/MM/yyyy' });

      
          //JSON.useDateParser();
          var theme = 'Arctic';
          // prepare the data
          var source =
          {
              datatype: "json",
            //  datafields: [
            //{ name: 'LeadId', type: 'number' },
            ////{ name: 'ActionType', type: 'number' },
            //{ name: 'Creation', type: 'date' },
            //{ name: 'LastUpdate', type: 'date' },
            //{ name: 'CustomerName', type: 'string' },
            //{ name: 'Email', type: 'string' },
            //{ name: 'Mobile', type: 'string' },
            //{ name: 'Phone', type: 'string' },
            //{ name: 'Commission', type: 'string' },
            //{ name: 'PurposeType', type: 'number' },
            //{ name: 'DealType', type: 'number' },
            //{ name: 'RequestSize', type: 'number' },
            //{ name: 'AreaType', type: 'number' },
            //{ name: 'EntryDate', type: 'date' },
            //{ name: 'ParkingNum', type: 'number' },
            //{ name: 'ContractDuration', type: 'number' },
            //{ name: 'BadgetForMr', type: 'number' },
            //{ name: 'Status', type: 'number' },
            //{ name: 'AgentId', type: 'number' },
            //{ name: 'Memo', type: 'string' }
            //  ],
              id: 'LeadId',
              type: 'POST',
              url: '@Url.Action("GetLead", "Crm")'

          };
          source.data = { 'id': '@id' };

          var dataAdapter = new $.jqx.dataAdapter(source, {
              loadComplete: function (record) {

                  loadDataForm("tag-form", record);

                  srcPurposeType = record.PurposeType;
                  srcDealType = record.DealType;
                  srcAreaType = record.AreaType;
                  srcLeadId = record.LeadId;

                  //selectComboBoxValue("PurposeType", record.PurposeType);
                  //selectComboBoxValue("DealType", record.DealType);
                  selectCheckList("AreaType", record.AreaType);

              },
              loadError: function (jqXHR, status, error) {
              },
              beforeLoadComplete: function (records) {

              }
          });
          // perform data binding.
          dataAdapter.dataBind();
        
        //initialize validator.
        $('#form').jqxValidator({
            rtl: true,
            hintType: 'label',
            animationDuration: 0,
            rules: [
                   { input: '#CustomerName', message: 'חובה לציין שם לקוח!', action: 'keyup, blur', rule: 'required' },
                   { input: '#Mobile', message: 'חובה לציין טלפון נייד!', action: 'keyup, blur', rule: 'required' },
                   {
                       input: '#AreaType', message: 'חובה לציין אזור!', action: 'select', rule: function (input) {
                           var index = $("#AreaType").jqxComboBox('getSelectedIndex');
                           if (index >= 0) { return true; } return false;
                       }
                   },
                   {
                       input: '#PurposeType', message: 'חובה לציין סוג נכס!', action: 'select', rule: function (input) {
                           var index = $("#PurposeType").jqxComboBox('getSelectedIndex');
                           if (index >= 0) { return true; } return false;
                       }
                   },
                  { input: '#Email', message: 'אימייל לא תקין!', action: 'keyup', rule: 'email' },
                  {
                      input: '#Mobile', message: 'טלפון נייד אינו תקין!', action: 'valuechanged, blur', rule:
                                function (input, commit) {
                                    var val = input.val();
                                    var re = /^(|\()(0|972)(\d{1}|\d{2})(|[\)\/\.-])([0-9]{7})$/
                                    return val ? re.test(val) : true;
                                }
                  },
                  {
                      input: '#Phone', message: 'טלפון אינו תקין!', action: 'valuechanged, blur', rule:
                                function (input, commit) {
                                        var val = input.val();
                                        var re = /^(|\()(0|972)(\d{1}|\d{2})(|[\)\/\.-])([0-9]{7})$/
                                        return val ? re.test(val) : true;
                                }
                  }
            ]
        });
        $("form").submit(function (e) {

            var validationResult = function (isValid) {
                if (isValid) {
                    //$.blockUI({ timeout: 4000 });
                    //setTimeout(function () {
                        $('#submit').prop('disabled', true);
                        popupPrompt("#form-iframe");
                    //}, 1000);
                    

                    //$("#form-iframe").load(function () {
                    //    $.unblockUI();
                    //    //$("#form-next").html('<a href="Home/Main">המשך</a>')
                    //});

                }
                else {
                    e.preventDefault(); // t
                }
            }
            // Validate the Form.
            $('#form').jqxValidator('validate', validationResult);

        });

        $("#form").on('validationSuccess', function () {
            // Display the Server's Response which came as result of the Form Submit.
            $("#form-iframe").fadeIn('fast');
        });

        $('#reset').on('click', function () {
            $("#form-iframe").html('').fadeOut('fast');
            $("#form-next").html('')
            location.reload();
        });
    });

    

</script>

}

<!--breadcrumb-->
<div class="breadcrumbs">
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
<a href="javascript:parent.history.back()">Crm</a> >
@ViewContext.RouteData.Values["action"].ToString()
</div>


<hgroup class="title">
    <h3 class="rightPan">הגדרת לקוח.</h3>
</hgroup>
<div class="clear"></div>

<div class="global-view">
    <div class="container">
        <div>
            <ul class="nav nav-tabs" id="tab-building">
                <li><a id="linkA" data-toggle="tab" href="#sectionA">פרטי לקוח</a></li>
                <li><a id="linkB" data-toggle="tab" href="#sectionB">נתונים כללים</a></li>
            </ul>

        </div>
        <div style="height: 50px;">
        </div>
        <div id="tag-form">
            @*@using (Html.BeginForm("UpdateBuilding", "Building", null, FormMethod.Post, new { id = "form", Class = "form" }))
            {
                *@<!--Html.AntiForgeryToken(), target = "form-iframe"
                                Html.ValidationSummary(true)
                                    -->


                <form class="form" id="form" method="post" action="/Crm/UpdateLead" target = "form-iframe">
                  <input id="LeadId" type="hidden" name="LeadId" class="number" />

                <div class="tab-content">
                    <div id="sectionA" class="tab-pane fade in active">
                        <h4>פרטי לקוח</h4>
                        <div>
                            <div class="form-group">
                                <label class="column">
                                    שם הלקוח:</label>
                                <input id="CustomerName" type="text" name="CustomerName" class="text" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    דואל :</label>
                                <input id="Email" type="text" name="Email" class="text" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    טלפון נייד :</label>
                                <input id="Mobile" type="text" name="Mobile" class="text" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    טלפון :</label>
                                <input id="Phone" type="text" name="Phone" class="text" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    נוצר ב:</label>
                                <input id="Creation" readonly="true" type="text" class="text" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מועד עדכון:</label>
                                <input id="LastUpdate" readonly="true" type="text" class="text" />
                            </div>
                        </div>
                    </div>
                    <div id="sectionB" class="tab-pane fade in">
                        <h4>נתונים כללים</h4>
                        <div>
                             <div class="form-group">
                                <label class="column">
                                    סוג עסקה:</label>
                                <div id="DealType" name="DealType">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="column">
                                    סוג הנכס/שימוש:</label>
                                <div id="PurposeType" name="PurposeType">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                     אזור מבוקש:</label>
                                <div id="AreaType" name="AreaType">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מועד כניסה:</label>
                                <div id="EntryDate" name="EntryDate"  />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    </label>
                            </div>
                           <div class="form-group">
                                <label class="column">
                                    שטח מבוקש:</label>
                                <input id="RequestSize" name="RequestSize" type="number" class="number" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מספר חניות:</label>
                                <input id="ParkingNum" name="ParkingNum" type="number" class="number" />
                            </div>
                             <div class="form-group">
                                <label class="column">
                                    משך החוזה:</label>
                                <input id="ContractDuration" name="ContractDuration" type="number" class="number" /><span>שנים</span>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    תקציב למ"ר:</label>
                                <input id="BadgetForMr" name="BadgetForMr" type="number" class="number" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    הערות:</label>
                                <textarea id="Memo" name="Memo" rows="3" cols="60"></textarea>
                            </div>
                        </div>
                    </div>
                     <div>
                        <input id="submit" type="submit" value="עדכון" class="btn-default btn2" />
                        <input id="reset" type="reset" value="רענון" class="btn-default btn2" />
                    </div>
                </div>
                </form>
            @*}*@
            <div style="text-align: center">
                <iframe id="form-iframe" name="form-iframe" style="width: 400px; height: 160px; text-align: right" frameborder="0"></iframe>
                <div id="form-next" style="font-size:18px"></div>
            </div>

        </div>
    </div>
</div>
<!--end of content-wrapper-->

