@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;
@model Pro.Mvc.Models.ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Forgot Password";
    var captcha = Html.Captcha("רענון", "נא להקליד את התוים שבציור", 4);
}

@section head {

      @Scripts.Render("~/bundles/jqx")
}

 
<div class="global">
    
    <div class="center-box">
        <div class="container">
             <div dir="rtl" class="row">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-lg-offset-1">
                            <h2>שכחתי סיסמה</h2>

                            <section id="loginForm">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                               <fieldset>
                                <legend></legend>
                                <ul style="list-style:none; font-size:150%;width:100%">
                                    <li>@Html.LabelFor(m => m.Email)</li>
                                    <li>
                                        
                                        @Html.TextBoxFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </li>
                                    <li>
                                        @captcha
                                    </li>
                                </ul>
                                <input class="btn-default btn2" type="submit" value="אתחול סיסמה" />
                            </fieldset>
                            }
                                <p class="error-bag">@ViewBag.Message</p>
                            </section>
                            <div id="cms_login_footer"></div>
                       </div>
                    </div>
        </div>
    </div>
  
</div>
