@model Pro.Mvc.Models.ResetPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reset Password";
      
}

@section head {

      @Scripts.Render("~/bundles/jqx")
}

 
<div class="global">
    
    <div class="center-box">
        <div class="container">
             <div dir="rtl" class="row">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-lg-offset-1">
                            <h2>אתחול סיסמה</h2>

                            <section id="loginForm">
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.Hidden("Email", Model.Email)
                                @Html.Hidden("Token", Model.Token)
                                @Html.Hidden("AccountId", Model.AccountId)
                                
                               <fieldset>
                                <legend></legend>
                                <ul style="list-style:none; font-size:150%;width:100%">
                                    @*<li>@Html.LabelFor(m => m.Email)</li>
                                    <li>
                                        
                                        @Html.TextBoxFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </li>*@
                                    <li>@Html.LabelFor(m => m.Password)</li>
                                    <li>
                                        
                                        @Html.PasswordFor(m => m.Password)
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </li>
                                    <li>@Html.LabelFor(m => m.ConfirmPassword)</li>
                                    <li>

                                        @Html.PasswordFor(m => m.ConfirmPassword)
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </li>
                                </ul>
                                <input class="btn-default btn2" type="submit" value="כניסה" />
                            </fieldset>
                            }
                                <p class="error-bag">@ViewBag.Message</p>
                            </section>
                            <div id="cms_login_footer"></div>
                       </div>
                    </div>
        </div>
    </div>
  
</div>
