@model Pro.Data.Registry.CreditPage
@{
    Layout = "~/Views/Shared/_ViewRegistry.cshtml";
}

@section head {

    @Scripts.Render("~/bundles/jqx")
   

    <style type="text/css">
        div.payment-container {border:solid 1px #b9d9e6;
        display: block;
        margin: 0 auto;
        height: 480px;
        width: 600px;
        text-align: center;
        overflow: hidden;
    }
        iframe.payment {
            border: none;
            height: 455px;
            width: 370px;
            overflow: hidden;
        }
    </style>

<div id="cmsHScript">
    @Html.Raw(Model.HScript)
</div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var def = new registry_credit();
        });
        @Html.Raw(Model.HiddenScript)
    </script>
}

@section cmsHeader {
    <div id="cmsHeader">
        @Html.Raw(Model.Header)
    </div>
}
<input type="hidden" id="model-account" value="@Model.AccountId" />

<!--begin of content-wrapper-->
<div id="cmsBody">
    @Html.Raw(Model.Body)
</div>

<div class="credit">
    <div class="form">
        <iframe src="@Html.Raw(Model.IframeSrc)" class="payment"></iframe>
    </div>
</div>

<!--end of content-wrapper-->
@section cmsFooter {
    <div id="cmsFooter">
        @Html.Raw(Model.Footer)
    </div>
}

