@model Pro.Data.Entities.AdsView
@{
    Layout = "~/Views/_View.cshtml";
    Page.Title = "Building";
 }

@section head {
       @Scripts.Render("~/bundles/jqx")
}

@section scripts {

  <script type="text/javascript">

      $(document).ready(function () {
          @* @if (id <= 0) {
              return;
          }
          JSON.useDateParser();
          var theme = 'Arctic';
          // prepare the data
          var source =
          {
              datatype: "json",
              datafields: [
            { name: 'PropertyId', type: 'number' },
            { name: 'UnitNum', type: 'number' },
            { name: 'AdsOptions', type: 'string' },
            { name: 'AdsDate', type: 'date' },
            { name: 'AgentId', type: 'number' },
            { name: 'Status', type: 'number' },
            { name: 'Description', type: 'string' },
            { name: 'MediaType', type: 'string' }
              ],
              id: 'AdsId',
              type: 'POST',
              url: '@Url.Action("GetBuilding", "Building")'

          };
          source.data = { 'id': '@id' };

          var dataAdapter = new $.jqx.dataAdapter(source, {
              loadComplete: function (record) {
                  // get data records.
                  //var length = records.length;
                  //var record = records[i];
                  $("#PropertyId").val(record.PropertyId);
                  $("#UnitNum").val(record.UnitNum);
                  $("#AdsOptions").val(record.AdsOptions);
                  $("#AdsDate").val(record.AdsDate);
                  $("#AgentId").val(record.AgentId);
                  $("#Status").val(record.Status);

              },
              loadError: function (jqXHR, status, error) {
              },
              beforeLoadComplete: function (records) {

              }
          });
          // perform data binding.
          dataAdapter.dataBind();*@

          //media options
          var mediaSource = [
            "אינטרנט",
            "יד2",
            "עיתונות",
            "דיוור-ישיר",
            "אחר"
          ];
          // Create a ListBox.
          $("#MediaType").jqxListBox({ source: mediaSource, multiple: true,rtl:true, checkboxes: true, width: '240', height: '150px', theme: 'Arctic' });
          $("#MediaType").jqxListBox('checkIndex', 0);

          //$("#register").jqxExpander({ toggleMode: 'none', width: '300px', showArrow: false });
          $('#sendButton').jqxButton({ });
          //$('#acceptInput').jqxCheckBox({ width: 130 });
          $('#sendButton').on('click', function () {
              $('#form').jqxValidator('validate');
          });
          //$("#PropertyId").jqxInput({rtl:true});
          $("#UnitNum").jqxInput({ rtl: true });
          $("#AdsOptions").jqxInput({ rtl: true });
          $("#AdsDate").jqxDateTimeInput({ rtl: true });
          //$("#AgentId").jqxInput({});
          $("#Status").jqxInput({ rtl: true });
          $("#Description").jqxInput({ rtl: true });
          $("#MediaType").jqxInput({ rtl: true });

          // initialize validator.
          $('#form').jqxValidator({
              hintType: 'label',
              animationDuration: 0,
              rtl:true,
              rules: [
                     { input: '#PropertyId', message: 'נדרש קוד נכס!', action: 'keyup, blur', rule: 'required' },
                     { input: '#Description', message: 'נדרש תאור!', action: 'keyup, blur', rule: 'required' }
                     //{ input: '#MediaType', message: 'נדרש מדיה!', action: 'keyup, blur', rule: 'required' }
                     //{
                     //    input: '#AdsDate', message: 'נדרש מועד לפרסום.', action: 'valueChanged', rule: function (input, commit) {
                     //        var date = $('#AdsDate').jqxDateTimeInput('value');
                     //        var result = date.getFullYear() >= 1900 && date.getFullYear() <= 2014;
                     //        // call commit with false, when you are doing server validation and you want to display a validation error on this field. 
                     //        return result;
                     //   }
                     //}
                    ]
          });
         
      });

  </script>
 
}

<hgroup class="title">
    <h3>פרסום.</h3>
</hgroup>
<div class="clear"></div>

<div class="global-view">
    <div class="container">

         @using (Html.BeginForm("AdsUpdate", "Crm", null, FormMethod.Post, new { id = "form", Class = "form" }))
         {
             <div class="leftPan">

                            <div class="form-group">
                                <p>
                                    תאור כללי:</p>
                                 <textarea id="Description" name="Description" rows="5" cols="60">@Model.Description</textarea>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    סוג מדיה:</label>
                                <br />
                                 <div id="MediaType" name="MediaType" style="padding:10px"></div>
                            </div>
                            <div style="height: 10px"></div>
                            <div class="form-group">
                                <input id="sendButton" type="submit" value="עדכון" class="btn-default btn2" />
                            </div>

                        </div>
             
             <div class="rightPan">
                            <div class="form-group">
                                <label class="column">
                                    קוד נכס:</label>
                                <input id="PropertyId" name="PropertyId" type="number" readonly="true" class="form-control" value="@Model.PropertyId" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    כתובת:</label>
                                <input id="Address" type="text" disabled="disabled" class="form-control" value="@Model.Address"/>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    שם בניין:</label>
                                <input id="BuildingName" type="text" disabled="disabled" class="form-control" value="@Model.BuildingName" />
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מספר יחידה:</label>
                                <input id="UnitNum" name="UnitNum" type="number" class="form-control" value="@Model.UnitNum"/>
                            </div>
                             <div class="form-group">
                                <label class="column">
                                    אפשרויות פרסום:</label>
                                <input id="AdsOptions" name="AdsOptions" type="text" class="form-control" value="@Model.AdsOptions"/>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    מועד לפרסום:</label>
                                <div id="AdsDate" name="AdsDate" ></div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    סטטוס:</label>
                            <select name="Status" id="Status">
                                <option value="0">ממתין</option>
                                <option value="1">בטיפול</option>
                            </select>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    סוכן:</label>
                                <input id="AgentId" name="AgentId" type="hidden" class="form-control" value="@Model.AgentId" />
                                <input id="AgentName" type="number" readonly="true" class="form-control" value="@Model.AgentName" />
                            </div>
                                <input id="AdsId" name="AdsId" type="hidden" class="form-control" value="@Model.AdsId" />
                        </div>

         }
        </div>
    </div>
 