@model Pro.Mvc.Models.EditTaskModel
@{
    //ViewBag.Title = "System";
    Layout = "~/Views/Shared/_View.cshtml";
    int rcdid = Nistec.Types.ToInt(Request["id"]);
    var userInfo = @Html.Raw(Json.Encode(ViewBag.UserInfo));
    var dataModel = @Html.Raw(Json.Encode(Model));
}

@section head {

    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
    <script type="text/javascript" src="~/jqwidgets/jqxdata.export.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxeditor.js"></script>
    <script src="~/jqwidgets/jqxpopover.js"></script>   
    <script type="text/javascript" src="~/Scripts/app/app-jqx-grid-1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/app/system/task-def.js"></script>
    <script type="text/javascript" src="~/Scripts/app/app-wizard.js"></script>
    <link rel="stylesheet" href="~/Scripts/app/app-form.css" type="text/css" />

    <script src="~/Scripts/plagins/colorpicker/jquery.simplecolorpicker.js"></script>
    <link href="~/Scripts/plagins/colorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
    <style type="text/css">
        input {
            direction: rtl;
            text-align: right;
        }

        /*.jqx-grid-cell {
            border: none;
        }

        .wiz-tab {
            display: none;
        }

            .wiz-tab.active {
                display: block;
            }*/
        #accordion {
            max-width: 800px;
        }
        .tab-panel {margin:0;padding:4px !important;width:100%}
        /*.expander-entry{margin:0;padding:0;width:100%}*/
    </style>

}


@section scripts {

    <script type="text/javascript">


        var task_def;

        $(document).ready(function () {
            JSON.useDateParser();
            var theme = 'Arctic';
            $("#fcEnd").hide();

            var uinfo = JSON.parse('@userInfo');

            task_def = app_task.init(JSON.parse('@dataModel'), uinfo, 'T');


            $('#reset').on('click', function () {
                location.reload();
            });

            $('#fcClear').on('click', function (e) {
                //app_messenger.Post("הודעה");
                $('#fcForm')[0].reset();
                $('#fcForm').jqxValidator('hide');
            });
            $('#fcNew').on('click', function (e) {
                app.refresh();
            });
            $('#fcCancel').on('click', function (e) {
                task_def.doCancel();
            });
            $('#fcSubmit').on('click', function (e) {
                task_def.doSubmit('update');
            });
            $('#fcEnd').on('click', function (e) {
                task_def.doSubmit('end');
            });
            //$('#fcSubmit-plus').on('click', function (e) {
            //    task_def.doSubmit('plus');
            //});
            $('#task-item-update').click(function () {
                var iframe = wizard.getIframe();
                if (iframe && iframe.triggerSubmit) {
                    iframe.triggerSubmit();
                }
            });
            $('#task-item-cancel').click(function () {
                wizard.wizHome();
            });
        });

    </script>
}

<div class="breadcrumbs">
</div>


<div class="global-view">
    <div id="wiz-container" class="container">

        <div id="wiz-1" class="wiz-tab active">
            <h3 id="hTitle" class="rtl">משימה</h3>
            <div id="jqxWidget" style="margin: 0 auto; display: block; direction: rtl">
                <div id="fcBody">
                    <div id="accordion" class="tab-content">
                        <!--<ul id="tab-query" class="nav nav-tabs1">
                            <li class="active"><a id="hxp-0" href="#exp-0" data-toggle="tab">משימה</a></li>
                            <li><a id="hxp-1" href="#exp-1" data-toggle="tab">הערות</a></li>
                            <li><a id="hxp-2" href="#exp-2" data-toggle="tab">מעקב העברות</a></li>
                            <li><a id="hxp-3" href="#exp-3" data-toggle="tab">מעקב זמנים</a></li>
                            <li><a id="hxp-4" href="#exp-4" data-toggle="tab">מעקב ביצוע</a></li>
                            <li><a id="hxp-5" href="#exp-5" data-toggle="tab">קבצים</a></li>
                        </ul>-->
                        <div id="hxp-0">משימה</div>
                        <div id="exp-0" class="tab-panel">
                            <div class="expander-entry">
                                <form class="fcForm" id="fcForm" method="post" action="/System/UpdateTask">
                                    <input type="hidden" id="TaskId" name="TaskId" value="0" />
                                    <input type="hidden" id="AccountId" name="AccountId" value="" />
                                    <input type="hidden" id="UserId" name="UserId" value="" />
                                    <input type="hidden" id="TeamId" name="TeamId" value="" />
                                    <input type="hidden" id="Task_Parent" name="Task_Parent" value="" />
                                    <input type="hidden" id="Task_Type" name="Task_Type" value="" />
                                    <input type="hidden" id="TaskSubject" name="TaskSubject" value="" />
                                    <input type="hidden" id="TaskModel" name="TaskModel" value="T" />

                                    <div id="tab-content" class="tab-content" dir="rtl">
                                        <div class="form-group">
                                            <div class="field">
                                                סטאטוס :
                                            </div>
                                            <div id="TaskStatus" name="TaskStatus"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="field">
                                                תיאור:
                                            </div>
                                            <div id="TaskBody" name="TaskBody" class="text-content" contenteditable="true" readonly="readonly"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="field">
                                                נוצר ב:
                                            </div>
                                            <div id="CreatedDate" name="CreatedDate"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="field">
                                                תאריך לביצוע:
                                            </div>
                                            <div id="DueDate" name="DueDate"></div>
                                        </div>

                                        <div class="form-group">
                                            <div class="field">
                                                צבע :
                                            </div>
                                            <select id="ColorFlag" name="ColorFlag">
                                                <option value="#7bd148">Green</option>
                                                <option value="#5484ed">Bold blue</option>
                                                <option value="#a4bdfc">Blue</option>
                                                <option value="#46d6db">Turquoise</option>
                                                <option value="#7ae7bf">Light green</option>
                                                <option value="#51b749">Bold green</option>
                                                <option value="#fbd75b">Yellow</option>
                                                <option value="#ffb878">Orange</option>
                                                <option value="#ff887c">Red</option>
                                                <option value="#dc2127">Bold red</option>
                                                <option value="#dbadff">Purple</option>
                                            </select>
                                        </div>


                                        <div id="jqxExp-1">
                                            <div>
                                                פרטים נוספים
                                            </div>
                                            <div class="rtl" style="border:none">


                                                <div class="form-group">
                                                    <div class="field">
                                                        מועד התחלה:
                                                    </div>
                                                    <input id="StartedDate" name="StartedDate" type="text" readonly="readonly" class="text-mid" />
                                                </div>
                                                <div class="form-group">
                                                    <div class="field">
                                                        מועד סיום:
                                                    </div>
                                                    <input id="EndedDate" name="EndedDate" type="text" readonly="readonly" class="text-mid" />
                                                </div>
                                                <div id="Project_Id-container" class="form-group" style="max-width:250px">
                                                    <div id="Project_Id-name" class="field">
                                                        פרוייקט :
                                                    </div>
                                                    @*<div id="Project_Id" name="Project_Id"></div>*@
                                                    <input id="Project_Id" name="Project_Id" type="hidden" />
                                                    <input id="Project_Id-display" type="text" class="text-mid" readonly />
                                                    <a href="#" id="Project_Id-button" class="@(Model.PId)" style="font-size:16px"><i class="fa fa-search"></i></a>
                                                    <script type="text/javascript">
                                                    var project_dlg;
                                                    $('#Project_Id-button').on('click', function (event) {
                                                        if (project_dlg == null) {
                                                            project_dlg = new app_ComboDlg('#Project_Id');
                                                            project_dlg.init("ProjectId", "ProjectName", '/System/Lookup_DisplayList', 'project_name');
                                                        }
                                                        project_dlg.display();
                                                    });
                                                    </script>
                                                </div>
                                                <div id="ClientId-container" class="form-group" style="max-width:250px">
                                                    <div id="ClientId-name" class="field">
                                                        לקוח\מנוי:
                                                    </div>
                                                    <input type="hidden" id="ClientId" name="ClientId" value="0" />
                                                    <input id="ClientId-display" type="text" class="text-mid" readonly />
                                                    <a href="#" id="ClientId-button" class="@(Model.PId)" style="font-size:16px"><i class="fa fa-search"></i></a>
                                                    <script type="text/javascript">
                                                    var client_dlg;
                                                    $('#ClientId-button').on('click', function (event) {
                                                        if (client_dlg == null) {
                                                            client_dlg = new app_ComboDlg('#ClientId', "#ClientId-display");//function (item) {
                                                            //    $("#ClientId-display").val(item.label);
                                                            //});
                                                            client_dlg.init("Value", "Label", '/Common/Lookup_DisplayList', 'member_display');
                                                        }
                                                        client_dlg.display();
                                                    });
                                                    </script>
                                                </div>

                                                <div class="form-group">
                                                    <input type="checkbox" id="IsShare" name="IsShare" disabled="disabled" />&nbsp;<span>משותף</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="height: 5px"></div>
                                        <div class="@(ViewBag.UserInfo.UserId)">
                                            <input id="fcSubmit" class="btn-default btn7 w-60" type="button" value="עדכון" />
                                            <input id="fcEnd" class="btn-default btn7 w-60" type="button" value="סיום" />
                                            <input id="fcCancel" class="btn-default btn7 w-60" type="button" value="ביטול" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="hxp-1">הערות</div>
                        <div id="exp-1" class="tab-panel">
                            <div class="expander-entry">
                                <div class="grid-wrap rtl">
                                    <div class="@(Model.Option == "g" ? "item-pasive" : null)">
                                        <a id="jqxgrid1-add" href="#" class="btn-default btnIcon"><i class="fa fa-plus-square-o"></i>הוספה</a>
                                        <a id="jqxgrid1-edit" href="#" class="btn-default btnIcon"><i class="fa fa-edit"></i>עריכה</a>
                                        <a id="jqxgrid1-remove" href="#" class="btn-default btnIcon"><i class="fa fa-remove"></i>הסרה</a>
                                        <a id="jqxgrid1-refresh" href="#" class="btn-default btnIcon"><i class="fa fa-refresh"></i>רענון</a>
                                    </div>
                                    <div id="jqxgrid1-window"></div>
                                    <div id="jqxgrid1" style="position:relative;z-index:1;"></div>
                                </div>
                            </div>
                        </div>
                        <div id ="hxp-2">מעקב העברות</div>
                        <div id="exp-2" class="tab-panel">
                            <div class="expander-entry">
                                <div class="grid-wrap rtl">
                                    <div class="@(Model.Option == "g" ? "item-pasive" : null)">
                                        <a id="jqxgrid2-add" href="#" class="btn-default btnIcon"><i class="fa fa-plus-square-o"></i>הוספה</a>
                                        <a id="jqxgrid2-refresh" href="#" class="btn-default btnIcon"><i class="fa fa-refresh"></i>רענון</a>
                                    </div>
                                    <div id="jqxgrid2-window"></div>
                                    <div id="jqxgrid2" style="position:relative;z-index:1;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="hxp-3">מעקב זמנים</div>
                        <div id="exp-3" class="tab-panel">
                            <div class="expander-entry">
                                <div class="grid-wrap rtl">
                                    <div class="@(Model.Option == "g" ? "item-pasive" : null)">
                                        <a id="jqxgrid3-add" href="#" class="btn-default btnIcon"><i class="fa fa-plus-square-o"></i>הוספה</a>
                                        <a id="jqxgrid3-edit" href="#" class="btn-default btnIcon"><i class="fa fa-edit"></i>עריכה</a>
                                        <a id="jqxgrid3-remove" href="#" class="btn-default btnIcon"><i class="fa fa-remove"></i>הסרה</a>
                                        <a id="jqxgrid3-refresh" href="#" class="btn-default btnIcon"><i class="fa fa-refresh"></i>רענון</a>
                                    </div>
                                    <div id="jqxgrid3-window"></div>
                                    <div id="jqxgrid3" style="position:relative;z-index:1;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="hxp-4">מעקב ביצוע</div>
                        <div id="exp-4" class="tab-panel">
                            <div class="expander-entry">
                                <div class="grid-wrap rtl">
                                    <div class="@(Model.Option == "g" ? "item-pasive" : null)">
                                        <a id="jqxgrid4-add" href="#" class="btn-default btnIcon"><i class="fa fa-plus-square-o"></i>הוספה</a>
                                        <a id="jqxgrid4-edit" href="#" class="btn-default btnIcon"><i class="fa fa-edit"></i>עריכה</a>
                                        <a id="jqxgrid4-remove" href="#" class="btn-default btnIcon"><i class="fa fa-remove"></i>הסרה</a>
                                        <a id="jqxgrid4-refresh" href="#" class="btn-default btnIcon"><i class="fa fa-refresh"></i>רענון</a>
                                    </div>
                                    <div id="jqxgrid4-window"></div>
                                    <div id="jqxgrid4" style="position:relative;z-index:1;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="hxp-5">קבצים</div>
                        <div id="exp-5" class="tab-panel">
                            <div class="tab-entry1">
                                <div id="task-files">
                                    <iframe id="iframe-files" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="wiz-2" class="wiz-tab">
            <h3 id="wiz-2-title" class="rtl">
                עריכת משימה
            </h3>
            <div id="divPartial2" class="wiz-partial"></div>
            <div class="rtl">
                <a id="task-item-update" class="btn-default btn7 w-60" href="#">עדכון</a>
                <a id="task-item-cancel" class="btn-default btn7 w-60" href="#">ביטול</a>
            </div>
        </div>
        <div id="wiz-3" class="wiz-tab">
            <div class="rtl">
                <a class="btn-default btn7 w-60" href="javascript:wizard.displayStep(1);">חזרה</a>
            </div>
            <div id="divPartial3"></div>
        </div>
        <div id="wiz-4" class="wiz-tab">
            <h3 class="rtl">מעקב זמנים</h3>
            <div id="divPartial4"></div>
        </div>
        <div id="wiz-5" class="wiz-tab">
            <h3 class="rtl">הערות-עריכה</h3>
            <div id="divPartial5"></div>
        </div>
        <div id="wiz-6" class="wiz-tab">
            <h3 class="rtl">העברה</h3>
            <div id="divPartial6"></div>
        </div>
        <div id="wiz-7" class="wiz-tab">
            <h3 class="rtl">מעקב זמנים - עריכה</h3>
            <div id="divPartial7"></div>
        </div>
    </div>
</div>
<!--end of content-wrapper-->


<script type="text/javascript">
    app_menu.activeLayoutMenu("liSystem");
    app_menu.breadcrumbs("/System/TaskUser", "Tasks", 'en');
</script>





