@model Pro.Mvc.Models.UploadFileModel
@{
    Layout = "~/Views/Shared/_View.cshtml";
    Page.Title = "Sms";
}
@section head {

    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
    <script type="text/javascript" src="~/jqwidgets/jqxdata.export.js"></script>
    <script type="text/javascript" src="~/Scripts/plagins/uploader/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="~/Scripts/plagins/uploader/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="~/Scripts/plagins/uploader/js/jquery.fileupload.js"></script>
    <link type="text/css" href="~/Scripts/plagins/uploader/css/jquery.fileupload.css" rel="stylesheet" />

   <script type="text/javascript" src="~/Scripts/app/dateFormat.js"></script>
   <script type="text/javascript" src="~/Scripts/plagins/blockUI.js"></script>
   <script type="text/javascript" src="~/Scripts/jq/jquery.ui.1.11.1.js"></script>
   <link rel="stylesheet" href="~/Scripts/jq/css/jquery-ui.css" type="text/css" />

    <style type="text/css">
        input {
            direction: rtl;
            text-align: right;
        }
        .styledTable {
            direction:rtl; text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;padding-left:20px;text-align:right;
        }
        .styledTableHeader {background-color:#0094ff;color:#fff;text-align:right;
        }
        .styledRowKey {padding-left:20px;text-align:right;
        }
        .styledRowValue {text-align:right;
        }
    </style>
<style type="text/css">

    /*#form {
        height: 100px;
        float: left;
        margin-top: 30px;
        margin-left: 20px;
    }*/

    .inputContainer {
        width: 150px;
    }

    .formInput {
        width: 150px;
        outline: none;
    }

    /*#hintWrapper {
        height: 130px;
        float: right;
    }

    #hintSection {
        float: left;
        margin-top: 30px;
        margin-right: 20px;
        padding: 5px;
        width: 225px;
    }*/

    #checkBoxWrapper {
        float: left;
        margin-left: 20px;
        margin-top: 30px;
    }

    #section {
        margin: 5px;
        direction:rtl;
        text-align:right;
    }

    #sectionButtonsWrapper {
        float: right;
        margin-top: 30px;
        margin-right: 10px;
        width: 115px;
    }

    /*#hintBasket {
        margin-left: 20px;
        margin-top: 7px;
        float: left;
        padding: 5px;
    }*/

    .basket div {
        position: relative;
    }

    .nextButton {
        float: left;
        margin-left: 10px;
    }

    .backButton {
        float: right;
        margin-left: 10px;
    }
    .sectionButtonsWrapper {
        float: left;
        margin-top: 240px;
        margin-left: 10px;
        width: 115px;
     }
     #basketButtonsWrapper {
        float: left;
        margin-top: 400px;
        margin-left: 10px;
        width: 115px;
    }

    /*#selectedProductsHeader {
        margin-left: 20px;
        float: left;
        width: 200px;
    }*/

    #selectedProductsButtonsWrapper {
        float: left;
        margin-left: 10px;
        width: 115px;
        margin-top: 400px;
    }

    #members {
        border: none;
    }
</style>

}

@section scripts {
    <script type="text/javascript">
     
        $(document).ready(function () {

            $("#btnRefresh").jqxLinkButton({width:100,height:30});
            $("#btnRefresh").hide();
            ///////////////////////////// uploader

            $('#fileupload').fileupload({
                url: '@Url.Action("FileUpload", "Media")',
                //formData: {
                //    param1: $('#updateExists').val()
                //    //param2: $('#uploadUid').val(),
                //    //param3: $('#uploadPt').val()
                //},
                //dataType: 'json',
                done: function (e, data) {
                    //ObjectKeys(data);
                    //alert(data.textStatus);
                    $("#divUploadResult").html(data.result.Message);
                    $("#uploadKey").val(data.result.Args);
                    connectUploadedGrid();
                    //$.each(data.result.files, function (index, file) {
                    //    $('<p/>').text(file.name).appendTo('#files');
                    //});
                },
                error: function (jqXHR, status, error) {
                    alert(error);
                },
                progressall: function (e, data) {
                    doPprogress(data);
                }
            }).prop('disabled', !$.support.fileInput)
                 .parent().addClass($.support.fileInput ? undefined : 'disabled')
                 .bind('fileuploadsubmit', function (e, data) {
                     resetPprogress();
                     //fileuuid = generateUUID('16');
                     //data.formData = {
                     //    param1: $('#uploadBid').val(),
                     //    param2: $('#uploadUid').val(),
                     //    param3: $('#uploadPt').val()
                     //};
            });

            //}).prop('disabled', !$.support.fileInput)
            //    .parent().addClass($.support.fileInput ? undefined : 'disabled');

            var doPprogress = function (data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            };
            var resetPprogress = function () {
                $('#progress .progress-bar').css(
                    'width', '0%'
                );
            };

            var doUploadSync = function () {
                //var updateExists = $("#updateExists").val();
                var updateExists = $('#updateExists').is(":checked");
                
                var category = $("#listCategory").val();
                var uploadKey = $("#uploadKey").val();
                $.ajax({
                    url: '@Url.Action("ExecUploadAsync", "Media")',
                    type: "POST",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: "{'category':'" + category + "','uploadKey':'" + uploadKey + "', 'updateExists' : '" + updateExists + "'}",
                    success: function (data) {
                        if (data) {
                            if (data.Status < 0)
                                alert(data.Message);
                            else {
                                $("#final").html(data.Message);
                                //$('#jqxTabs').jqxTabs('last');
                                $('#jqxTabs').jqxTabs('enableAt', 3);
                                $('#jqxTabs').jqxTabs('next');
                                $('#jqxTabs').jqxTabs('disableAt', 2);
                                $('#jqxTabs').jqxTabs('disableAt', 1);
                                $('#jqxTabs').jqxTabs('disableAt', 0);
                                $("#btnRefresh").show();
                            };
                        }

                    },
                    error: function (jqXHR, status, error) {
                        alert(error);
                    }
                });
            };
            //==============================================================
            ////////////////////////////grid

            var source =
            {
                datatype: "json",
                async: false,
                id: 'MemberId',
                type: 'POST',
                url: '@Url.Action("LoadUploadedMembers", "Media")',
                data: { "uploadKey": "" + $("#uploadKey").val() + "" },
                pagenum: 1,
                pagesize: 20
                //pager: function (pagenum, pagesize, oldpagenum) {
                //    // callback called when a page or page size is changed.
                //}
            };

            var dataAdapter;
            var connectUploadedGrid = function () {
                
                var uploadKey = $("#uploadKey").val();
                source.data = { "uploadKey": ""+uploadKey+"" };
                dataAdapter = new $.jqx.dataAdapter(source, {
                    loadComplete: function (data) {
                        alert('טעינה למאגר זמני הסתיימה');
                        //source.totalrecords = getTotalRows(data);
                    },
                    loadError: function (xhr, status, error) { alert(' status: ' + status + '\n error ' + error) }
                });
                $("#members").jqxGrid('source', dataAdapter);
                //dataAdapter.dataBind();
            }
 $("#members").jqxGrid(
 {
     width: '100%',
     height: 400,
     //autoheight: true,
     rtl: true,
     source: dataAdapter,
     localization: getLocalization('he'),
     rendergridrows: function (obj) {
         return dataAdapter.records;
     },
     pageable: true,
     pagermode: 'simple',
     sortable: true,
     columns: [
       {
           text: 'מס. סידורי', dataField: 'RecordId', width: 80, cellsalign: 'right', align: 'center'
       },
       {
           text: 'ת.ז', dataField: 'MemberId', width: 120, cellsalign: 'right', align: 'center'
       },
        {
            text: 'שם פרטי', dataField: 'FirstName', cellsalign: 'right', align: 'center'
        },
        {
             text: 'שם משפחה', dataField: 'LastName', cellsalign: 'right', align: 'center'
        },
       //{
       //    text: 'שם', dataField: 'MemberName', cellsalign: 'right', align: 'center'
       //},
       //{
       //    text: 'עיר', dataField: 'CityName', cellsalign: 'right', align: 'center'
       //},
       {
           text: 'כתובת', dataField: 'Address', cellsalign: 'right', align: 'center'
       },
       {
           text: 'טלפון נייד', dataField: 'CellPhone', width: 120, cellsalign: 'right', align: 'center'
       },
       { text: 'דואל', dataField: 'Email', width: 150, cellsalign: 'right', align: 'center' }
       //{
       //    text: 'סטאטוס', dataField: 'StatusName', width: 100, cellsalign: 'right', align: 'center'
       //}
       //{ text: 'מועד הצטרפות', type: 'date', dataField: 'JoiningDate', width: 120, cellsformat: 'd', cellsalign: 'right', align: 'center' }
     ]
 });
            ////////////////////////////wizard


            var categoryAdapter = createComboAdapter("PropId", "PropName", "listCategory", '@Url.Action("GetValidCategoriesView", "Common")', 200, 120, false);
            //$('#listCategory').jqxListBox({ multiple: true });
            //$('#listCategory').on('change', function (event) {
            //    listBoxToInput("listCategory", "Category");//, "allCategory");
            //});


            //Creating wizard module
            var wizard = (function () {
                //Adding event listeners
                var _addHandlers = function () {
                    //$('#usernameInput').keyup(function () {
                    //    wizard.validate(true);
                    //});
                    //$('#usernameInput').change(function () {
                    //    wizard.validate(true);
                    //});
                    //$('#usernameInput').change(function () {
                    //    wizard.validate(true);
                    //});
                    //$('#passwordInput').keyup(function () {
                    //    wizard.validate(true);
                    //});
                    $('.nextButton').click(function () {
                        wizard.validate(true);
                        $('#jqxTabs').jqxTabs('next');
                    });
                    $('.backButton').click(function () {
                        wizard.validate(true);
                        $('#jqxTabs').jqxTabs('previous');
                    });
                    $('#acceptCheckBox').on('change', function (event) {
                        wizard.validate(true);
                    });
                    $('#btnUpload').click(function () {

                        var cat = $("#listCategory").val();
                        
                        if (!cat || cat <= 0)
                        {
                            alert("חובה לציין סיווג");
                            return;
                        }
                        doUploadSync();
                    });

                    //$('#members').on('change', function (event) {
                    //    wizard.validate(true);
                    //    var selectedItems = $('#members').jqxListBox('selectedIndexes'),
                    //        count = selectedItems.length;
                    //    $('#orderContainer').children().remove();
                    //    while (count) {
                    //        count--;
                    //        if (typeof selectedItems[count] !== 'undefined' &&
                    //            selectedItems[count] !== -1) {
                    //            $('#orderContainer').prepend('<div style="width: 190px; height: 20px;">' + wizard.config.source[selectedItems[count]].html + '</div>');
                    //        }
                    //    }
                    //});
                    //$('#members').on('unselect', function (event) {
                    //    wizard.validate(true);
                    //});
                };
                //Checking if any product have been selected
                var _isItemSelected = function (array) {
                    var count = array.length;
                    if (count === 0) {
                        return false;
                    }
                    while (count) {
                        count -= 1;
                        if (array[count] !== -1 &&
                            typeof array[count] !== 'undefined') {
                            return true;
                        }
                    }
                    return false;
                };
                return {
                    //Listbox's source
                    //Initializing the wizzard - creating all elements, adding event handlers and starting the validation
                    init: function () {
                        $('#jqxTabs').jqxTabs({ rtl: true, height: 500, width: 800, keyboardNavigation: false });
                        //$('#acceptCheckBox').jqxCheckBox({ width: 250 });
                        $('#nextButtonInfo').jqxButton({ width: 50 });
                        $('#nextButtonGrid').jqxButton({ width: 50 });
                        //$('#backButtonUpload').jqxButton({ width: 50 });
                        //$('#backButtonReview').jqxButton({ width: 50 });
                        //$("#members").jqxListBox({ source: this.config.source, width: '490px', height: '130px', multiple: true });

                        $('#jqxTabs').jqxTabs('disableAt', 3);

                        _addHandlers();
                        this.validate();
                        this.showHint('לטעינת מנויים יש ללחוץ על טעינת קובץ,לאחר הודעת סיום יש ללחוץ על הבא.');
                    },
                    //Validating all wizard tabs
                    validate: function (notify) {


                        if (!this.firstTab(notify)) {
                            $('#jqxTabs').jqxTabs('disableAt', 1);
                            $('#jqxTabs').jqxTabs('disableAt', 2);
                            return;
                        } else {
                            $('#jqxTabs').jqxTabs('enableAt', 1);
                            $('#jqxTabs').jqxTabs('enableAt', 2);
                            return;
                        }

                        if (!this.secondTab(notify)) {
                            $('#jqxTabs').jqxTabs('disableAt', 2);
                            return;
                        } else {
                            $('#jqxTabs').jqxTabs('enableAt', 2);
                            return;
                        }
                        //if (!this.threeTab(notify)) {
                        //    $('#jqxTabs').jqxTabs('disableAt', 3);
                        //    return;
                        //} else {
                        //    $('#jqxTabs').jqxTabs('enableAt', 3);
                        //    $('#jqxTabs').jqxTabs('disableAt', 0);
                        //    $('#jqxTabs').jqxTabs('disableAt', 1);
                        //    $('#jqxTabs').jqxTabs('disableAt', 2);
                        //    return;
                        //}
                    },
                    //Displaying message to the user
                    showHint: function (message, selector) {
                        if (typeof selector === 'undefined') {
                            selector = '.hint';
                        }
                        if (message === '') {
                            message = 'לטעינת מנויים יש ללחוץ על טעינת קובץ,לאחר הודעת סיום יש ללחוץ על הבא.';
                        }
                        $(selector).html('<strong>' + message + '</strong>');
                    },
                    //Validating the first tab
                    firstTab: function (notify) {
                        var message = '';
                        var uploadKey = $('#uploadKey').val()
                        if (uploadKey == 'undefined' || uploadKey.length < 30) {
                            message += 'לא נטענו נתונים לא ניתן להמשיך. <br />';
                        }

                        //var username = $('#usernameInput').val(),
                        //    password = $('#passwordInput').val(),
                        //    message = '';
                        //if (username.length < 3) {
                        //    message += 'You have to enter valid username. <br />';
                        //}
                        //if (password.length < 3) {
                        //    message += 'You have to enter valid password. <br />';
                        //}
                        //if (!$('#acceptCheckBox').jqxCheckBox('checked')) {
                        //    message += 'You have to accept the terms. <br />';
                        //}
                        if (message !== '') {
                            if (notify) {
                                this.showHint(message, '#hintSection');
                            }
                            return false;
                        }
                        this.showHint('לצפייה בפירוט המנויים שנטענו יש ללחוץ על הבא.', '#hintSection');
                        return true;
                    },
                    //Validating the second tab
                    secondTab: function () {
                        //var members = $('#members').jqxListBox('selectedIndex');
                        //if (!_isItemSelected($('#members').jqxListBox('selectedIndexes'))) {
                        //    this.showHint('You have to select at least one item.', '#hintBasket');
                        //    return false;
                        //} else {
                        //    this.showHint('You can continue.', '#hintBasket');
                        //}
                        return true;
                    },
                    threeTab: function () {
                        //var members = $('#members').jqxListBox('selectedIndex');
                        //if (!_isItemSelected($('#members').jqxListBox('selectedIndexes'))) {
                        //    this.showHint('You have to select at least one item.', '#hintBasket');
                        //    return false;
                        //} else {
                        //    this.showHint('You can continue.', '#hintBasket');
                        //}
                        return true;
                    }

                }
            }());
            //Initializing the wizard
            wizard.init();
        });
 

</script>

}

<!--breadcrumb-->
<div class="breadcrumbs">
@Html.ActionLink("Home", "Index", "Home")>
@Html.ActionLink("Main", "Main", "Home")>
<a href="javascript:parent.history.back()">Crm</a> >
@ViewContext.RouteData.Values["action"].ToString()
</div>


<hgroup class="title">
    <h3>קליטת חברים מקובץ</h3>
</hgroup>
<div class="clear"></div>

<div class="global-view">
    <div class="container">
        <div style="height: 50px;text-align:right">
            <a href="javascript:location.reload();" id="btnRefresh">חדש</a>
            <a href="~/_Doc/members.xlsx">תבנית לטעינה</a>

        </div>
        <input type="hidden" id="uploadKey" />
        <div id="jqxTabs" style="display: inline; float: right; direction:rtl">
            <ul>
                <li style="margin-left: 30px;">טעינת קובץ</li>
                <li>רשימת מנויים שנקלטו</li>
                <li>קליטה</li>
                <li>סיום</li>
           </ul>
            <div class="section">
                <div id="uploader">
                    <div style="width: 250px; float: right; direction:rtl">
                        <div style="height:10px"></div>
                        <div style="width: 250px;text-align:right; margin:10px">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>בחירת קובץ</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </span>
                            <br>
                            <br>
                            <!-- The global progress bar -->
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <!-- The container for the uploaded files -->
                            <div id="files" class="files"></div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                 
                <div style="display:block;width:100%; margin-top:120px; text-align:center">
                    <div id="hintWrapper2">
                        <div id="hintSection" class="hint">
                        </div>
                    </div>
                    <p id="divUploadResult" style="text-align:center"></p>
                </div>
                <div class="sectionButtonsWrapper">
                    <input type="button" value="הבא" class="nextButton" id="nextButtonInfo" />
                </div>
            </div>
            <div class="section">
                <div id="members"></div>
                <p style="text-align:center">לקליטה נא ללחוץ על הבא</p>
                <div>
                    <input type="button" value="הקודם" class="backButton" id="backButtonBasket" />
                    <input type="button" value="הבא" class="nextButton" id="nextButtonGrid" />
                </div>
            </div>
            <div class="section">
                <div id="selectedProductsHeader" style="text-align:center; margin:10px">
                    <h4>קליטת חברים</h4>
                    <div id="orderContainer" style="float:right; direction:rtl">

                        <label class="headline">סיווג</label>
                        <br />
                        <div id="listCategory" name="listCategory"></div>
                        <br />
                        <input type="checkbox" id="updateExists" name="updateExists" /> <span>האם לעדכן רשומות קיימות</span>
                        <br />
                        <br />
                        <input type="button" id="btnUpload" value="טעינת מנויים למאגר קבוע" />
                    </div>
                </div>

                <div style="margin-top:250px; margin-right:10px">
                    <input type="button" value="הקודם" id="backButtonReview" class="backButton" />
                </div>
            </div>
            <div class="section">
                <div id="selectedProductsHeader" style="text-align:center">
                    <h4>סיום</h4>
                </div>
                <div style="margin:20px">
                   <div id="final" style="text-align:right; font-size:18px"></div>
                </div>
            </div>

        </div>
 
    </div>
</div>
<!--end of content-wrapper-->
