@model Pro.Mvc.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

    string Message=null;
        
}

@section head {

      @Scripts.Render("~/bundles/jqx")
      <script type="text/javascript" src="~/jqwidgets/ex/mc-cmsWeb.js"></script>

}
@section featured {
}

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            @*loadCms(3, '@Url.Action("RenderCmsView", "Home")');*@
        });
    </script>
}

 
<div class="global">
    
    <div class="center-box">
        <div class="container">
             <div dir="rtl" class="row">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-lg-offset-1">
                            <h2>כניסה למערכת</h2>

                            <section id="loginForm">
                            @using (Html.BeginForm("LoginReset", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                               <fieldset>
                                <legend></legend>
                                <ul style="list-style:none; font-size:150%;width:100%">
                                    <li>@Html.LabelFor(m => m.UserName)</li>
                                    <li>
                                        
                                        @Html.TextBoxFor(m => m.UserName)
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </li>
                                    <li>@Html.LabelFor(m => m.Password)</li>
                                    <li>
                                        
                                        @Html.PasswordFor(m => m.Password)
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </li>
                                    <li>@Html.LabelFor(m => m.ConfirmPassword)</li>
                                    <li>

                                        @Html.PasswordFor(m => m.ConfirmPassword)
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </li>
                                </ul>
                                <input class="btn-default btn2" type="submit" value="כניסה" />
                            </fieldset>
                            }
                                <p>@ViewBag.Message</p>
                            </section>
                            <div id="cms_login_footer"></div>
                       </div>
                    </div>
        </div>
    </div>
  
</div>
