<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="myt">
    <meta name="keywords" content="myt">
    <meta name="author" content="myt">
    <meta name="format-detection" content="telephone=no" />
    <meta name="cms" content="Nistec v-4.0.2" data-virtual="" data-site="0">
    <!--<base href="www.my-t.co.il/pro" data-virtual="/pro"/>-->  
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--CSS-->
    @*<link rel="stylesheet" href="~/Content/css/reset.css">*@
    <link rel="stylesheet" href="~/Content/css/style-rtl.css">
    <link rel="stylesheet" href="~/Content/css/view-form.css" type="text/css" />
    <link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="~/jqwidgets/styles/jqx.nis_metro.css" type="text/css" />
    <link rel="stylesheet" href="~/scripts/plagins/sidebar/css/style-rtl.css">
    @*<link href="~/Scripts/jq/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />*@
    @*<script src="~/scripts/plagins/sidebar/js/modernizr.js"></script>*@
    

    <script type="text/javascript" src="~/Scripts/globalization/globalize.js"></script>
    <script type="text/javascript" src="~/Scripts/globalization/Localization.js"></script>
    <script type="text/javascript" src="~/Scripts/JsonDateExtensions.js"></script>
    <script src="~/jqwidgets/jqxtouch.js"></script>

    <!--JS-->
    <script src="~/Scripts/jq/jquery-2.1.4.js"></script>
    @*<script src="~/Scripts/jq/jquery-ui-1.12.1/jquery-ui.min.js"></script>*@

    <script src="~/Scripts/app/app-model-1.0.js"></script>
    <script src="~/Scripts/app/app-jqx-1.0.js"></script>
    <script src="~/Scripts/app/app-control-1.0.js"></script>
    <script src="~/Scripts/app/app-global.js"></script>
    <script src="~/Scripts/app/dateFormat.js"></script>
    <script src="~/Scripts/plagins/sidebar/js/sidebar-rtl.js"></script>

    <script src="~/Scripts/HubSpot/messenger/js/messenger.min.js"></script>
    <script src="~/Scripts/HubSpot/messenger/js/messenger-theme-future.js"></script>
    <link href="~/Scripts/HubSpot/messenger/css/messenger-rtl.css" rel="stylesheet" />
    <link href="~/Scripts/HubSpot/messenger/css/messenger-theme-flat.css" rel="stylesheet" />


   @RenderSection("head", required: false)
 

</head>
<body class="center-body">

    <header class="nbr-main-header" >
        <a href="~/Home/Index" class="nbr-logo"><img src="~/images/logo-myt.png" alt="Logo"></a>

            <!--<div class="nbr-search is-hidden">
    <form action="#0">
        <input type="search" placeholder="Search...">
    </form>
    </div>

    -->
            <a href="#0" class="nbr-nav-trigger"><span></span></a>
            <nav class="nbr-nav">
                <ul class="nbr-top-nav">
                    @*<li class="nbr-has-children account">
                    <a href="#0">
                        <!--<img src="img/nbr-avatar.png" alt="avatar">-->
                        <span>ViewBag.UserName</span>
                    </a>
                    <ul>
                        <li>
                            <a href="~/Common/DefUser">פרטים</a>
                        </li>
                        <li>
                            <a href="~/Home/Logoff">יציאה</a>
                        </li>
                    </ul>
                </li>*@

                    <li><a href="~/Co/Dashboard">ראשי</a></li>

                    @*<li>
                    <a href="~/Home/Logoff">יציאה</a>
                </li>*@
                </ul>
            </nav>
 
    </header> <!-- .nbr-main-header -->

    <main class="nbr-main-content">
        <nav id="mainnav" class="nbr-side-nav">
            <ul style="direction:rtl">
                <li class="nbr-label"><span>@ViewBag.AccountName</span><span>@@</span><span>@ViewBag.UserName</span></li>

                <li id="liMain" class="nbr-has-children overview">
                    <a href="#0">מנויים</a>
                    <ul class="submeunav">
                        @*<li>
                                <a href="~/Co/MembersQuery" title="מנויים">
                                    <i class="fa fa-angle-double-left" style="font-size:20px"></i> איתור מנויים
                                </a>
                            </li>*@
                        <li>
                            <a href="~/Co/Members" title="מנויים">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> רשימת מנויים
                            </a>
                        </li>
                        <li>
                            <a href="~/Co/MembersAdd" title="הוספת מנוי">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> הוספת מנוי
                            </a>
                        </li>
                        <li>
                            <a href="~/Co/MembersUpload" title="קליטה מקובץ">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> קליטה מקובץ
                            </a>
                        </li>
                        @*<li>
                                <a href="~/Co/MembersRemove" title="הסרת מנויים">
                                    <i class="fa fa-angle-double-left" style="font-size:20px"></i> הסרת מנויים
                                </a>
                            </li>*@
                        <li>
                            <a href="~/Co/PaymentsQuery" title="תשלומים">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> איתור תשלומים
                            </a>
                        </li>
                        @*<li>
                                <a href="~/Co/SignupQuery" title="איתור נרשמים">
                                    <i class="fa fa-angle-double-left" style="font-size:20px"></i> איתור נרשמים
                                </a>
                            </li>*@

                    </ul>
                </li>
                <li id="liCom" class="nbr-has-children notifications">
                    <a href="#0">תקשורת</a>

                    <ul class="submeunav">
                        <li>
                            <a href="~/Co/SmsBroadcast">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> שליחת מסרון
                            </a>
                        </li>
                        <!--<li>
                            <a href="~/Co/SmsMultimedia">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> שליחת מסרון מולטימדיה
                            </a>
                        </li>-->
                        <li>
                            <a href="~/Co/EmailBroadcast">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> שליחת דואר אלקטרוני
                            </a>
                        </li>
                        <li>
                            <a href="~/Co/SendQuery">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> דוחות דיוור
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="liEntity" class="nbr-has-children comments">
                    <a href="#0">הגדרות</a>

                    <ul class="submeunav">
                        <li>
                            <a href="~/Common/DefCategory">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> סיווגים
                            </a>
                        </li>
                        <li>
                            <a href="~/Common/DefPrice">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> מחירון
                            </a>
                        </li>
                        <li>
                            <a href="~/Common/DefCampaign">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> קמפיין
                            </a>
                        </li>
                        <li>
                            <a href="~/Common/DefEntity?entity=branch">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> הגדרות כלליות
                            </a>
                        </li>
                        <li>
                            <a href="~/Common/DefCity">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> יישובים
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="liReport" class="nbr-has-children bookmarks">
                    <a href="#0">דוחות</a>

                    <ul>
                        <li>
                            <a href="~/Report/ReportQuery" title="דוחות התפלגות נתונים">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> דוחות סטטיסטיים
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="liCms" class="nbr-has-children images">
                    <a href="#0">מערכת תוכן</a>

                    <ul>
                        <li>
                            <a href="~/Cms/CmsWizardPages" title="עריכת תוכן כללי">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> עריכת תוכן כללי
                            </a>
                        </li>
                        <li>
                            <a href="~/Cms/CmsWizardForm" title="עריכת טופס רישום">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> עריכת טופס רישום
                            </a>
                        </li>
                        <li>
                            <a href="~/Cms/CmsMedia" title="מדיה">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> מדיה
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="liSystem" class="nbr-has-children users">
                    <a id="liSystem-a" href="~/System/SystemBoard">ניהול</a>
                    <ul>
                        <li>
                            <a href="~/System/Calendar" title="יומן">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> יומן
                            </a>
                        </li>
                        <li>
                            <a href="~/System/TaskUser" title="משימות">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> משימות
                            </a>
                        </li>
                        <li>
                            <a href="~/System/AdUsersDef" title="משתמשים">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> משתמשים
                            </a>
                        </li>
                        <li>
                            <a href="~/System/AdDef" title="קבוצות">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> קבוצות
                            </a>
                        </li>
                        <li>
                            <a href="~/System/AdTeamDef" title="צוותים">
                                <i class="fa fa-angle-double-left" style="font-size:20px"></i> צוותים
                            </a>
                        </li>
                        @*<li>
                                <a href="~/System/DefUser"><i class="fa fa-angle-double-left" style="font-size:20px"></i> פרטים</a>
                            </li>*@
                        <li>
                            <a href="~/Account/Logoff"><i class="fa fa-angle-double-left" style="font-size:20px"></i> יציאה</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<ul style="direction:rtl">
                <li class="nbr-label">משני</li>

            </ul>-->
            <!--<ul>
                 <li class="nbr-label">פעולות</li>
                 <li class="action-btn"><a href="#0">+ הפעלה</a></li>
             </ul>-->
        </nav>

        <div class="nbr-content-wrapper">
            <div class="nbr-content-internal">
                @RenderSection("featured", required: false)
                <div id="body">
                    <!--Notifications-->
                    <div id="jqxNotification">
                    </div>
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div> <!-- .content-wrapper -->
    </main> <!-- .nbr-main-content -->
    <!--footer-->
    <footer class="footer">

        @*<div class="container" style="margin-top:0px;margin-bottom:30px">
                <div class="row" style="width:100%">
                    <div class="col-lg-12">
                        <figure><img src="~/images/site/page1_icon1.png" alt=""></figure>
                        <p class="title">מה חדש</p>
                        <span class="hr"><em></em></span>
                        <p>ובכן הרבה.</p>

                    </div>
                </div>
            </div>*@

        @*<hr style="width:50%;">*@
        @*
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="follow_icon">
                            <li style="width:20%">
                                <div class="caption-footer">
                                    <p class="description-footer">דיווח על תקלה</p>
                                    <p>לדווח על תקלה , באג או כל הערה תתקבל בברכה ותיענה בהקדם האפשרי.</p>
                                    <a href="/System/TicketNew" class="btn-default btn1">פתיחת כרטיס <span></span></a>
                                </div>
                            </li>
                            <li style="width:20%">
                                <div class="caption-footer">
                                    <p class="description-footer">הרצאות מומחה</p>
                                    <p>להזמנת הרצאה מקצועית בתחום השיווק האטומטי.</p>
                                    <a href="#" class="btn-default btn1">הזמנה <span></span></a>
                                </div>
                            </li>
                            <li style="width:20%">
                                <div class="caption-footer">
                                    <p class="description-footer">תמיכה מקצועית</p>
                                    <p>לקבלת הדרכה והצעות לשימושים האפשריים בארגון .</p>
                                    <a href="#" class="btn-default btn1">בקשה <span></span></a>
                                </div>
                            </li>
                            <li style="width:20%">
                                <div class="caption-footer">
                                    <p class="description-footer">שיתוף עסקי</p>
                                    <p>מייטי פתוחה להצעות לשיתוף עסקי, כל יוזמה תתקבל בברכה.</p>
                                    <a href="#" class="btn-default btn1">להצעה <span></span></a>
                                </div>
                            </li>
                         </ul>
                    </div>
                </div>
                <div class="top-box"></div>
            </div>
        *@




        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="follow_icon">
                        <li>
                            <a href="#">
                                <img src="~/images/site/follow_icon1.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/site/follow_icon2.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/site/follow_icon3.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/site/follow_icon4.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/site/follow_icon5.png" alt="">
                            </a>
                        </li>
                    </ul>
                    <p>&copy; <em id="copyright-year"></em><a href="#">Privacy policy</a></p>
                </div>
            </div>
            <div class="top-box"></div>
        </div>
        <div class="thumbnail-footer">
            <figure><img src="~/images/site/page1_symbol1.png" alt=""></figure>
            <div class="caption-footer">
                <p class="title">Tel:972 74 7020802</p>
                <p class="title">Email:<a href="#">info@my-t.co.il</a></p>
                <p class="title">Myt:6 Koifman, Tel Aviv, 6801298. Israel</p>

            </div>
        </div>
        <!-- {%FOOTER_LINK} -->
    </footer>
    <script type="text/javascript">
        app_messenger.Init('bottom-right', 'flat');
    </script>
    @*@Scripts.Render("~/bundles/jqwidgets")*@
    @RenderSection("scripts", required: false)
</body>
</html>
