@model Pro.Mvc.Models.EditModel
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_ViewIframe.cshtml";
    var dataModel = @Html.Raw(Json.Encode(Model));
    var userInfo = @Html.Raw(Json.Encode(ViewBag.UserInfo));
    //int rcdid = Nistec.Types.ToInt(Request["id"]);
}

@section head {

    @Scripts.Render("~/bundles/jqx")
    <script type="text/javascript" src="~/Scripts/app/crm/members-def.js"></script>
    <link rel="stylesheet" href="~/Scripts/app/app-form.css" type="text/css" />

    <style type="text/css">
   
        #tabs {max-width:400px;
            direction: rtl;
            background: transparent;
            border: none;
            /*font-size: 80%;*/
        }

        #tab-head {
            direction: rtl;
            height: 34px;
        }  
    </style>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#tabs").tabs();
            
            var def = new app_members_def('@Model.Id', JSON.parse('@userInfo'), false);

            $('#reset').on('click', function () {
                location.reload();
            });
            $('#fcSubmit').on('click', function (e) {

                e.preventDefault();
                def.doSubmit();
            });
            $('#fcCancel').on('click', function (e) {
                $('#fcForm')[0].reset();
                $('#fcForm').jqxValidator('hide');
            });
        });

    </script>
}

<div class="container">
        <div id="fcWindow">
            <div id="fcHeader">
                @*<h3 id="fcTitle" class="rtl">עריכת מנוי</h3>*@
            </div>

            <div id="fcBody">
                <form class="fcForm" id="fcForm" method="post" action="/Crm/MemberUpdate">
                    <div style="direction: rtl; text-align: right;">
                        <input type="hidden" id="ExType" />
                        <input type="hidden" id="RecordId" name="RecordId" value="0" />
                        <input type="hidden" id="AccountId" name="AccountId" value="" />
                        <input type="hidden" id="Categories" name="Categories" value="" />
                        <div id="tabs">
                            <ul id="tab-head">
                                <li class="active"><a href="#tab-personal" data-toggle="tab">פרטים אישיים</a></li>
                                <li><a href="#tab-general" data-toggle="tab">כללי</a></li>
                                <li><a href="#tab-notes" data-toggle="tab">הערות</a></li>
                            </ul>

                            <div id="tab-personal">
                                <div class="form-group">
                                    <div class="field">
                                        תעודת זהות :
                                    </div>
                                    <input id="MemberId" name="MemberId" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        שם פרטי :
                                    </div>
                                    <input id="FirstName" name="FirstName" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        שם משפחה :
                                    </div>
                                    <input id="LastName" name="LastName" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        כתובת :
                                    </div>
                                    <input id="Address" name="Address" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        עיר :
                                    </div>
                                    <div id="City" name="City"></div>
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        מגדר:
                                    </div>
                                    <div id="Gender" name="Gender"></div>
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        תאריך לידה:
                                    </div>
                                    <div id="Birthday" name="Birthday"></div>
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        טלפון נייד:
                                    </div>
                                    <input id="CellPhone" name="CellPhone" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        טלפון:
                                    </div>
                                    <input id="Phone" name="Phone" type="text" class="text-mid" />
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        דאר אלקטרוני:
                                    </div>
                                    <input id="Email" name="Email" type="text" class="text-mid" />
                                </div>
                            </div>
                            <div id="tab-general">
                                <div class="form-group">
                                    <div class="field">
                                        סניף :
                                    </div>
                                    <div id="Branch" name="Branch"></div>
                                </div>
                                <div class="form-group">
                                    <div class="field">
                                        סווג :
                                    </div>
                                    <div id="listCategory" name="listCategory" style="padding: 10px" data-type="checklist"></div>
                                </div>
                                <div id="divEnum1" class="form-group">
                                    <div id="lblEnum1" class="column">
                                    </div>
                                    <div id="ExEnum1" name="ExEnum1"></div>
                                </div>
                                <div id="divEnum2" class="form-group">
                                    <div id="lblEnum2" class="column">
                                    </div>
                                    <div id="ExEnum2" name="ExEnum2"></div>
                                </div>
                                <div id="divEnum3" class="form-group">
                                    <div id="lblEnum3" class="column">
                                    </div>
                                    <div id="ExEnum3" name="ExEnum3"></div>
                                </div>
                                <div id="divExId" class="form-group">
                                    <div id="lblExId" class="column">
                                    </div>
                                    <input type="text" id="ExId" name="ExId" class="text-mid" maxlength="50" />
                                </div>
                                <div id="divField1" class="form-group">
                                    <div id="lblExField1" class="column">
                                    </div>
                                    <input type="text" id="ExField1" name="ExField1" class="text-mid" maxlength="250" />
                                </div>
                                <div id="divField2" class="form-group">
                                    <div id="lblExField2" class="column">
                                    </div>
                                    <input type="text" id="ExField2" name="ExField2" class="text-mid" maxlength="250" />
                                </div>
                                <div id="divField3" class="form-group">
                                    <div id="lblExField3" class="column">
                                    </div>
                                    <input type="text" id="ExField3" name="ExField3" class="text-mid" maxlength="250" />
                                </div>

                            </div>
                            <div id="tab-notes">
                                <div class="form-group">
                                    <div class="field">
                                        הערות:
                                    </div>
                                    <textarea id="Note" name="Note" style="max-width:320px;width:80%;height:60px"></textarea>
                                </div>
                                <div class="form-group @(Model.Option == "a" ? "pasive" : null)">
                                    <div class="field">
                                        מועד הצטרפות:
                                    </div>
                                    <input id="JoiningDate" name="JoiningDate" type="text" class="text-mid" readonly="readonly" />
                                </div>
                                <div class="form-group @(Model.Option == "a" ? "pasive" : null)">
                                    <div class="field">
                                        מועד עדכון:
                                    </div>
                                    <input id="LastUpdate" name="LastUpdate" type="text" readonly="readonly" class="text-mid" />
                                </div>
                            </div>
                        </div>
                        <div style="height: 5px"></div>
                        <p id="validator-message" style="color:red"></p>
                        @*<div>
                            <input id="fcSubmit" class="btn-default btn7" type="button" value="עדכון" />
                            <input id="fcCancel" class="btn-default btn7" type="button" value="ניקוי" />
                        </div>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
